.body {
  font-size: small;
}
.welcome {
  background-image: url(./Images/h_img.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.logo {
  margin-top: 150px; 
  color: white;
}
.mouse {
  margin-top: 10px;
}
.about {
  display: flex;
  justify-content: center;
  text-align: center;
}
.services {
  background-image: url(./Images/s_image.jpg);
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  height: 70vh;
}
.words {
  margin-top: 60px;
  padding-top: 45px;
}
.card-group {
  display: flex;
  flex-direction: column;
}
.cards {
  display: flex;
  flex-direction: row;
}
.what {
  text-align: center;
}
.cards img {
  width: 60px;
}

